@import "./base.css";

:root {
    --blue-main: #0044ff;
    --blue-soft: #6bb0ff;
    --white-main: #fff;
    --grayish-white: #dfdfdf;
    --black-main: #000;
    --gray-main: #747474;
}

/* Estilizando a div pai do projeto */
.container {
    width: 50vw;
    border: 2px solid var(--blue-main);
    border-radius: 4px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

/* Ajuste resposividade */
@media (max-width: 1499px) and (min-width: 1000px) {
    .container {
        width: 70vw;
    }
}

@media (max-width: 999px) and (min-width: 600px) {
    .container {
        width: 90vw;
    }
}

@media (max-width: 599px) {
    .container {
        width: 98vw;
    }
}